/* selector de clase (propietats de estils
comuns per tots els elements) */
.producte{
  width: 150px;
  height: 150px;
  background-color: blue;
  color: white;
}
/*propietat flex aplicat al div amb id "contenidor"*/
#contenidor{
  display: flex;
  justify-content: space-around;
  margin: 30px;
}
